@model Armadillo.Models.Campo

@{
    ViewData["Title"] = "Nuevo campo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Nuevo campo para la Hoja: <b>@ViewBag.Hoja.Nombre</b> de Programa: <b>@ViewBag.Hoja.Programa.Nombre</b>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="IdHoja" id="IdHoja" value="@ViewBag.Hoja.Id" >
                    <input type="hidden" name="Indice" id="Indice" value="@ViewBag.UltimoCampo">
                    <div class="form-group">
                        <label asp-for="IdTipo" class="control-label">Tipo de dato</label>
                        <select asp-for="IdTipo" class="form-control" asp-items="ViewBag.IdTipo"></select>
                    </div>

                    <div class="form-group" id="HojaLista">
                        <label for="IdHojaForanea" class="control-label">Hoja como Lista o Detalle</label>
                        <select id="IdHojaForanea" class="form-control" asp-items="ViewBag.IdHojaForanea"></select>
                    </div>

                    <div class="form-group" id="CampoForaneo">
                        <label for="IdCampoForaneo" class="control-label">Campo Foráneo</label>
                        <select id="IdCampoForaneo" class="form-control" asp-items="ViewBag.IdCampoForaneo"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Calculo" class="control-label">Cálculo</label>
                        <input asp-for="Calculo" class="form-control" />
                        <span asp-validation-for="Calculo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <p></p>
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('#HojaLista').hide();
            $('#CampoForaneo').hide();
            CambiarTipo();
        });

        function CambiarTipo()
        {
            $('#IdTipo').change(function () {
                var selectVal = $("#IdTipo option:selected").val();
                if (selectVal == "6" || selectVal=="7") {
                    $('#HojaLista').show();
                    CambiarTipoLista();
                } else {
                    $('#HojaLista').hide();
                }

                if (selectVal == "8") {
                    $('#CampoForaneo').show();
                    $("#Calculo").val(selectVal);
                } else {
                    $('#CampoForaneo').hide();
                }

            });
        }
        function CambiarTipoLista()
        {
            console.log("Estoy dentro");
            $('#IdHojaForanea').change(function () {
                var hojaselect = $("#IdHojaForanea option:selected").val();
                console.log(hojaselect);
                $("#Calculo").val(hojaselect);
            });
        }

    </script>

}
