@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generar códigos de recuperación de doble factor";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ponga los códigos en un lugar seguro.</strong>
    </p>
    <p>
        Si tu pierdes tu dispositivo y no tienes los códigos de recuperación perderás el acceso a tu cuenta.
    </p>
    <p>
        Generar nuevos códigos de recuperación no cambia las lleves usadas en la app de autenticación. 
        Si deseas cambiar las llaves
        usadas en la app de autenticación debería <a asp-page="./ResetAuthenticator">reiniciar las llaves de autenticacón.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generar códigos de recuperación</button>
    </form>
</div>
