@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifica tu correo para reiniciar tu contraseña.
</p>
