@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reiniciar confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reiniciada. Por favor <a asp-page="./Login">Clic aquí para entrar</a>.
</p>
