@model IEnumerable<Armadillo.Models.Programa>

@{
    ViewData["Title"] = "Programas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Programas
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">Nuevo Programa</a>
        </p>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="card">
                        <img src="~/images/programaarmadillo.jpg" class="card-img-top" alt="Programa">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                            <a href="@Url.ActionLink("Index","Hojas",new{idPrograma=item.Id})" class="btn btn-primary">Abrir</a>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
