@{
    ViewData["Title"] = "Qué es Armadillo";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al programa informático Armadillo</h1>
    <p>Armadillo te arma programador de Aplicación de Datos, sin que sepas programa.</p>
</div>
